.square2{
  width: 55;
  height:55;
  font-size: 45px;
  font-weight: 900;
  background: transparent;
  border: none;
  color: grey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: black;
  background: transparent;
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.known{
  max-width: 55;
  max-height:55;
  font-size: 45px;
  font-weight: 900;
  background: transparent;
  border: none;
  color: grey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: black;
  text-align: center;
  
  
}
*{
  text-align:center;
  }
  input[type="text;"] {
  max-width: 55;
  max-height:55;
  font-size: 45px;
  font-weight: 900;
  background: transparent;
  border: none;
  color: grey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: black;
  }
.basic {
background-image: url('/cat.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
height: 100%; width: 100%;
}
.info {
  background-image: url('/cat2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%; width: 100%;
  background-color: darkolivegreen;
  background-position: center;
  }
  .submit{
    font-size: 45px;
    width: 30%;
  }
.right{
  margin-left: 50%; /*How much right i want it */
  margin-top: -10;
  max-width: 30;
  max-height:30;
  font-size: 20px;
  font-weight: 900;
  background: transparent;
  color: grey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: black;
  background: transparent;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  position: relative;
  z-index: 100;
  border: 0;
}
.down{ 
  margin-right: 45%; /*How much left i want it */
  margin-bottom: -10px;
  max-width: 30;
  max-height:30;
  font-size: 20px;
  font-weight: 900;
  background: transparent;
  color: grey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: black;
  background: transparent;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  position: relative;
  z-index: 100;
  border: 0;
}
.dualinput{
  position: relative;
  z-index: 100;
  max-width: 55;
  max-height:55;
}
.slashBackground{
  position: absolute;
  max-width: 25;
  max-height:25;
  z-index: -100;     margin-left: 0;
  margin-top: -10; ;transform: rotate(-10deg); 
}